In [171]:
#%load_ext autoreload
#%autoreload 2

import better_pipeline as bp
import pipeline as pl
import pandas as pd
from datetime import date, datetime, timedelta
from dateutil.relativedelta import relativedelta

In [188]:
data = pl.read_data('/Users/csolisu/Downloads/projects_2012_2013.csv')

In [173]:
pl.df_info(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124976 entries, 0 to 124975
Data columns (total 26 columns):
projectid                                 124976 non-null object
teacher_acctid                            124976 non-null object
schoolid                                  124976 non-null object
school_ncesid                             115743 non-null float64
school_latitude                           124976 non-null float64
school_longitude                          124976 non-null float64
school_city                               124976 non-null object
school_state                              124976 non-null object
school_metro                              109752 non-null object
school_district                           124804 non-null object
school_county                             124976 non-null object
school_charter                            124976 non-null object
school_magnet                             124976 non-null object
teacher_prefix                            124976 non-null object
primary_focus_subject                     124961 non-null object
primary_focus_area                        124961 non-null object
secondary_focus_subject                   84420 non-null object
secondary_focus_area                      84420 non-null object
resource_type                             124959 non-null object
poverty_level                             124976 non-null object
grade_level                               124973 non-null object
total_price_including_optional_support    124976 non-null float64
students_reached                          124917 non-null float64
eligible_double_your_impact_match         124976 non-null object
date_posted                               124976 non-null object
datefullyfunded                           124976 non-null object
dtypes: float64(5), object(21)
memory usage: 24.8+ MB

In [174]:
pl.df_head(data)

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_metro,school_district,...,secondary_focus_subject,secondary_focus_area,resource_type,poverty_level,grade_level,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,date_posted,datefullyfunded
0,00001ccc0e81598c4bd86bacb94d7acb,96963218e74e10c3764a5cfb153e6fea,9f3f9f2c2da7edda5648ccd10554ed8c,1.709930e+11,41.807654,-87.673257,Chicago,IL,urban,Pershing Elem Network,...,Visual Arts,Music & The Arts,Supplies,highest poverty,Grades PreK-2,1498.61,31.0,f,4/14/13,5/2/13
1,0000fa3aa8f6649abab23615b546016d,2a578595fe351e7fce057e048c409b18,3432ed3d4466fac2f2ead83ab354e333,6.409801e+10,34.296596,-119.296596,Ventura,CA,urban,Ventura Unif School District,...,Literature & Writing,Literacy & Language,Books,highest poverty,Grades 3-5,282.47,28.0,t,4/7/12,4/18/12
2,000134f07d4b30140d63262c871748ff,26bd60377bdbffb53a644a16c5308e82,dc8dcb501c3b2bb0b10e9c6ee2cd8afd,6.227100e+10,34.078625,-118.257834,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,Social Sciences,History & Civics,Technology,high poverty,Grades 3-5,1012.38,56.0,f,1/30/12,4/15/12
3,0001f2d0b3827bba67cdbeaa248b832d,15d900805d9d716c051c671827109f45,8bea7e8c6e4279fca6276128db89292e,3.600090e+11,40.687286,-73.988217,Brooklyn,NY,urban,New York City Dept Of Ed,...,NaN,NaN,Books,high poverty,Grades PreK-2,175.33,23.0,f,10/11/12,12/5/12
4,0004536db996ba697ca72c9e058bfe69,400f8b82bb0143f6a40b217a517fe311,fbdefab6fe41e12c55886c610c110753,3.606870e+11,40.793018,-73.205635,Central Islip,NY,suburban,Central Islip Union Free SD,...,Literature & Writing,Literacy & Language,Technology,high poverty,Grades PreK-2,3591.11,150.0,f,1/8/13,3/25/13

In [175]:
pl.df_description(data)

,school_ncesid,school_latitude,school_longitude,total_price_including_optional_support,students_reached
count,1.157430e+05,124976.000000,124976.000000,124976.000000,124917.000000
mean,2.448448e+11,36.827284,-95.859299,654.011811,95.445760
std,1.644728e+11,4.963669,18.392876,1098.015854,163.481912
min,1.000050e+10,18.249140,-171.690554,92.000000,1.000000
25%,6.344101e+10,33.872504,-117.806418,345.810000,23.000000
50%,2.200870e+11,36.617410,-90.101563,510.500000,30.000000
75%,3.704880e+11,40.676156,-80.713740,752.960000,100.000000
max,6.100010e+11,65.672562,-66.628036,164382.840000,12143.000000

In [176]:
pl.df_missing_values(data)

projectid                                     0
teacher_acctid                                0
schoolid                                      0
school_ncesid                              9233
school_latitude                               0
school_longitude                              0
school_city                                   0
school_state                                  0
school_metro                              15224
school_district                             172
school_county                                 0
school_charter                                0
school_magnet                                 0
teacher_prefix                                0
primary_focus_subject                        15
primary_focus_area                           15
secondary_focus_subject                   40556
secondary_focus_area                      40556
resource_type                                17
poverty_level                                 0
grade_level                                   3
total_price_including_optional_support        0
students_reached                             59
eligible_double_your_impact_match             0
date_posted                                   0
datefullyfunded                               0
dtype: int64

In [189]:
#Constructing the label variable: 
#Label variable is 1 if project gets fully funded within the 60 days from date posted, 0 otherwise
data['days_financed'] = pd.to_datetime(data['datefullyfunded']) - pd.to_datetime(data['date_posted'])
data['label'] = data['days_financed'].dt.days.apply(lambda x: 1 if x <= 60 else 0)

In [180]:
drop_lst

['projectid',
 'teacher_acctid',
 'schoolid',
 'school_ncesid',
 'school_latitude',
 'school_longitude',
 'school_district',
 'school_county',
 'secondary_focus_subject',
 'secondary_focus_area',
 'primary_focus_subject']

In [190]:
drop_lst = ['projectid', 'teacher_acctid', 'schoolid',
            'school_ncesid', 'school_latitude', 
            'school_longitude', 'school_district', 
            'school_county', 'secondary_focus_subject',
            'secondary_focus_area','primary_focus_subject']
unnecesary_lst = ['date_posted', 'datefullyfunded', 'days_financed']
pl.drop_features(data, drop_lst)
pl.drop_features(data, unnecesary_lst)

In [191]:
tf_dic = {'t': 1, 'f':0}
data = data.replace({'school_charter': tf_dic, 'school_magnet': tf_dic, 'eligible_double_your_impact_match' : tf_dic})

In [192]:
lst_to_fill = ['primary_focus_area',
               'resource_type', 'grade_level', 'students_reached']
pl.fill_missing(data,lst_to_fill,form = False)
lst_dummies = ['school_metro', 
               'primary_focus_area', 'resource_type', 'poverty_level',
              'grade_level']
data = pl.to_dummies(data,lst_dummies)

pl.drop_features(data, lst_dummies)

In [193]:
data

,school_city,school_state,school_charter,school_magnet,teacher_prefix,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,label,school_metro_rural,...,resource_type_Trips,resource_type_Visitors,poverty_level_high poverty,poverty_level_highest poverty,poverty_level_low poverty,poverty_level_moderate poverty,grade_level_Grades 3-5,grade_level_Grades 6-8,grade_level_Grades 9-12,grade_level_Grades PreK-2
0,Chicago,IL,0,0,Mrs.,1498.61,31.0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
1,Ventura,CA,0,0,Mrs.,282.47,28.0,1,1,0,...,0,0,0,1,0,0,1,0,0,0
2,Los Angeles,CA,0,0,Ms.,1012.38,56.0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,Brooklyn,NY,0,1,Ms.,175.33,23.0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
4,Central Islip,NY,0,0,Mrs.,3591.11,150.0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
5,Lansing,MI,0,0,Mrs.,475.85,15.0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
6,Maricopa,AZ,0,0,Ms.,390.65,37.0,0,1,1,...,0,0,1,0,0,0,1,0,0,0
7,Oakland,CA,0,0,Mr.,3877.20,30.0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
8,Lewiston,ME,0,0,Mrs.,838.75,25.0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
9,Newhall,CA,0,0,Ms.,1477.44,24.0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
10,Saratoga,CA,1,0,Mrs.,194.11,25.0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
11,Fenton,MO,0,0,Mrs.,714.22,25.0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
12,Chicago,IL,0,0,Ms.,523.27,700.0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
13,Long Beach,CA,0,1,Mrs.,1108.94,809.0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
14,Bronx,NY,0,0,Ms.,677.73,24.0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
15,St Augustine,FL,0,0,Ms.,165.75,18.0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
16,Vine Grove,KY,0,0,Ms.,481.18,120.0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
17,Tucson,AZ,0,1,Mrs.,265.13,53.0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
18,Van Nuys,CA,0,0,Ms.,296.68,30.0,1,1,0,...,0,0,0,1,0,0,1,0,0,0
19,Atlanta,GA,0,0,Ms.,1098.39,39.0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
20,Ft Leonard Wd,MO,0,0,Mrs.,632.13,25.0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
21,Paxton,IL,0,0,Ms.,221.56,100.0,1,1,0,...,0,0,0,0,0,1,0,0,1,0
22,Princeton,TX,0,0,Ms.,1125.40,660.0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
23,El Monte,CA,0,0,Mrs.,2130.40,30.0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
24,Lutz,FL,0,0,Mrs.,715.67,17.0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
25,Indianapolis,IN,0,0,Mrs.,518.22,27.0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
26,Tarboro,NC,1,0,Mrs.,350.69,50.0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
27,North Hills,CA,0,0,Mr.,836.34,29.0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
28,Pompano Beach,FL,0,0,Mrs.,281.95,60.0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
29,Bronx,NY,0,0,Mr.,371.81,30.0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124946,Alvin,TX,0,0,Ms.,957.15,40.0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
124947,Monument Vly,UT,0,0,Ms.,163.68,14.0,0,1,1,...,0,0,0,1,0,0,0,0,0,1
124948,Bakersfield,CA,0,0,Mrs.,1005.74,65.0,0,1,1,...,0,0,0,0,0,1,1,0,0,0
124949,High Point,NC,0,0,Mrs.,223.61,14.0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
124950,Ozone Park,NY,0,0,Ms.,786.40,24.0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
124951,Greensboro,NC,0,0,Mrs.,701.95,22.0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
124952,Rochester,MN,0,0,Mrs.,490.66,25.0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
124953,Brooklyn,NY,0,1,Mr.,395.40,120.0,1,1,0,...,0,0,0,1,0,0,0,1,0,0
124954,Columbus,OH,1,0,Mrs.,178.41,20.0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
124955,Pineville,NC,0,1,Ms.,292.01,19.0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
124956,Indianapolis,IN,0,0,Ms.,289.45,700.0,1,1,0,...,0,0,0,1,0,0,1,0,0,0
124957,Los Angeles,CA,0,0,Mr.,859.99,60.0,1,1,0,...,0,0,0,1,0,0,0,0,1,0
124958,Los Angeles,CA,1,0,Ms.,560.99,120.0,1,1,0,...,0,0,0,1,0,0,0,0,1,0
124959,Columbus,GA,0,0,Mrs.,518.05,63.0,1,1,0,...,0,0,0,1,0,0,0,0,1,0
124960,Reseda,CA,1,0,Mr.,757.47,40.0,1,1,0,...,0,0,0,1,0,0,0,0,1,0
124961,Milwaukee,WI,0,0,Ms.,191.18,18.0,1,1,0,...,0,0,0,1,0,0,0,0,0,1
124962,Oakland,CA,1,0,Mr.,208.46,22.0,1,1,0,...,0,0,0,1,0,0,0,0,0,1
124963,Lyndonville,VT,0,0,Mrs.,386.46,27.0,0,1,1,...,0,0,1,0,0,0,1,0,0,0
124964,Reeds Spring,MO,0,0,Mrs.,409.87,7.0,0,1,1,...,0,0,1,0,0,0,0,0,0,1
124965,Boise,ID,0,1,Mrs.,1923.87,20.0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
124966,San Francisco,CA,0,0,Ms.,1018.24,510.0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
124967,Yorba Linda,CA,0,0,Mrs.,1003.81,738.0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
124968,Houston,TX,0,1,Mrs.,331.56,24.0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
124969,Atlanta,GA,0,0,Ms.,798.26,20.0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
124970,Arlington,VA,0,0,Ms.,717.96,24.0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
124971,Brooklyn,NY,0,1,Mrs.,990.99,32.0,1,1,0,...,0,0,1,0,0,0,1,0,0,0
124972,Houston,TX,0,1,Ms.,873.32,156.0,1,1,0,...,0,0,1,0,0,0,0,0,1,0
124973,Trenton,NJ,0,0,Mr.,184.05,20.0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
124974,Westminster,CO,0,0,Mrs.,345.84,500.0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
124975,Fair Oaks,CA,0,0,Mr.,938.00,11.0,0,1,0,...,0,0,0,1,0,0,0,1,0,0

In [194]:
data.columns

Index(['school_city', 'school_state', 'school_charter', 'school_magnet',
       'teacher_prefix', 'total_price_including_optional_support',
       'students_reached', 'eligible_double_your_impact_match', 'label',
       'school_metro_rural', 'school_metro_suburban', 'school_metro_urban',
       'primary_focus_area_Applied Learning',
       'primary_focus_area_Health & Sports',
       'primary_focus_area_History & Civics',
       'primary_focus_area_Literacy & Language',
       'primary_focus_area_Math & Science',
       'primary_focus_area_Music & The Arts',
       'primary_focus_area_Special Needs', 'resource_type_Books',
       'resource_type_Other', 'resource_type_Supplies',
       'resource_type_Technology', 'resource_type_Trips',
       'resource_type_Visitors', 'poverty_level_high poverty',
       'poverty_level_highest poverty', 'poverty_level_low poverty',
       'poverty_level_moderate poverty', 'grade_level_Grades 3-5',
       'grade_level_Grades 6-8', 'grade_level_Grades 9-12',
       'grade_level_Grades PreK-2'],
      dtype='object')

In [105]:

def temp_val(start_time, end_time, window_train, window_test):
    validation_lst = []
    start_time_date = datetime.strptime(start_time, '%Y-%m-%d')
    end_time_date = datetime.strptime(end_time, '%Y-%m-%d')
    test_end_time = end_time_date - relativedelta(days=+1)
    train_start_time = start_time_date
    while test_end_time <= end_time_date:
        train_end_time = train_start_time + relativedelta(months=+window_train)
        test_start_time = train_end_time + relativedelta(days=+1)
        test_end_time = test_start_time + relativedelta(months=+window_test)
        validation_lst.append([train_start_time,train_end_time,test_start_time,test_end_time])
        window_train +=6
    return validation_lst
    
def temp_spl(data,temp_var,validation_elem):
    train_start,train_end,test_start,test_end = validation_elem
    data[temp_var] = pd.to_datetime(data[temp_var]) 
    train_data = data[(train_start <= data[temp_var]) & ( data[temp_var] <= train_end)]
    test_data = data[(test_start <= data[temp_var] ) & (data[temp_var]<= test_end)]
    return train_data, test_data

In [70]:
lst = temp_val('2012-01-01','2013-12-31',6,6)
print(lst)

[[datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 7, 1, 0, 0), datetime.datetime(2012, 7, 2, 0, 0), datetime.datetime(2013, 1, 2, 0, 0)], [datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2013, 1, 1, 0, 0), datetime.datetime(2013, 1, 2, 0, 0), datetime.datetime(2013, 7, 2, 0, 0)], [datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2013, 7, 1, 0, 0), datetime.datetime(2013, 7, 2, 0, 0), datetime.datetime(2014, 1, 2, 0, 0)]]

In [50]:
data['date_posted'] = pd.to_datetime(data['date_posted'])
train_data = data[data['date_posted'] ]

In [52]:
lst_1 = lst[1]

In [106]:
a,b = temp_spl(data,'date_posted',lst_1)

In [107]:
a

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_metro,school_district,...,secondary_focus_subject,secondary_focus_area,resource_type,poverty_level,grade_level,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,date_posted,datefullyfunded
1,0000fa3aa8f6649abab23615b546016d,2a578595fe351e7fce057e048c409b18,3432ed3d4466fac2f2ead83ab354e333,6.409801e+10,34.296596,-119.296596,Ventura,CA,urban,Ventura Unif School District,...,Literature & Writing,Literacy & Language,Books,highest poverty,Grades 3-5,282.47,28.0,t,2012-04-07,4/18/12
2,000134f07d4b30140d63262c871748ff,26bd60377bdbffb53a644a16c5308e82,dc8dcb501c3b2bb0b10e9c6ee2cd8afd,6.227100e+10,34.078625,-118.257834,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,Social Sciences,History & Civics,Technology,high poverty,Grades 3-5,1012.38,56.0,f,2012-01-30,4/15/12
3,0001f2d0b3827bba67cdbeaa248b832d,15d900805d9d716c051c671827109f45,8bea7e8c6e4279fca6276128db89292e,3.600090e+11,40.687286,-73.988217,Brooklyn,NY,urban,New York City Dept Of Ed,...,NaN,NaN,Books,high poverty,Grades PreK-2,175.33,23.0,f,2012-10-11,12/5/12
5,00049ec8ca1f2d08cb13cab31b0b85ec,7149611553c700de9a6099f8a9ce598b,462a5fd93cf9fb5d41eecfd2ea860b19,2.621150e+11,42.740157,-84.525821,Lansing,MI,urban,Lansing School District,...,NaN,NaN,Other,highest poverty,Grades 3-5,475.85,15.0,f,2012-11-30,2/26/13
9,0008ac907bf237a15a959244205d3ee5,92527a5ac5fe946ed1961fb2e1de8cc5,23e34f5d2e2940684269cffe35741598,6.271800e+10,34.381832,-118.531837,Newhall,CA,suburban,Newhall School District,...,Literacy,Literacy & Language,Technology,highest poverty,Grades PreK-2,1477.44,24.0,f,2012-10-03,11/3/12
15,000bab2056ba84931f4f5bc72f542e03,10d2de84406c94967bb0f01f57ba980f,d0318b91338cd9dd6f18202eebe7c9c2,NaN,30.013238,-81.391606,St Augustine,FL,suburban,St Johns Co School District,...,Literature & Writing,Literacy & Language,Books,moderate poverty,Grades PreK-2,165.75,18.0,f,2012-12-09,1/22/13
16,000be0b57987d6c29d650a88eac2961b,ae7b6b599922817b2e0cb9f96354297e,922a11f9ab72afebccf5b9391191e1bd,2.102490e+11,37.803213,-85.987333,Vine Grove,KY,suburban,Hardin Co School District,...,Health & Life Science,Math & Science,Supplies,high poverty,Grades 6-8,481.18,120.0,f,2012-01-26,5/17/12
18,000e6a13fd69bf0e426403b1d5da0e99,1ad348085983de6a0f1fe6a37779f7f2,82571bc4db2e4cd846e3c50eeceeb176,6.227100e+10,34.182137,-118.424728,Van Nuys,CA,urban,Los Angeles Unif Sch Dist,...,NaN,NaN,Books,highest poverty,Grades 3-5,296.68,30.0,t,2012-01-23,2/20/12
19,000e964b1e5c911adf700736c43e8f85,27076f8d0ec597bfd5035ef84d6691b0,3870254e36f88935745384ebc06a4caf,1.300120e+11,33.752884,-84.342140,Atlanta,GA,urban,Atlanta Public Schools,...,Mathematics,Math & Science,Supplies,highest poverty,Grades 3-5,1098.39,39.0,f,2012-12-22,1/12/13
20,000faa31e276e9e649360949207fa00c,86403b5f04ed07201cd04184ff4c0ced,c86d87fee34b13377658337fa8bf2fc5,2.931440e+11,38.367966,-92.477882,Ft Leonard Wd,MO,NaN,Waynesville School Dist R6,...,NaN,NaN,Technology,high poverty,Grades 3-5,632.13,25.0,f,2012-12-18,1/6/13
23,00105edf14ebb7f146d6ba2098639bb1,ac1ef23232ddd1597f6fa5b28a171fa5,33b6121da948b2fd67fd78f5935eb793,6.261900e+10,34.050485,-118.020442,El Monte,CA,suburban,Mountain View School District-Los Angeles,...,Special Needs,Special Needs,Technology,highest poverty,Grades PreK-2,2130.40,30.0,f,2012-04-29,7/16/12
25,00134d14226ef613134712c54211f754,5bce35e3991721b665d33095e9d3aa31,9b62c64683b7c3212f159e13eb41ff5c,1.812720e+11,39.920792,-86.142952,Indianapolis,IN,urban,Washington Township Sch Dist,...,NaN,NaN,Books,highest poverty,Grades PreK-2,518.22,27.0,f,2012-03-31,7/27/12
26,00136585c0e4a67afaa964403cf9f45b,402cfc6b73dc62f44946bc1c381f6b1c,0793efaeba83d8b5b9d55f5772fac62d,NaN,35.906952,-77.540756,Tarboro,NC,rural,North Carolina Dept of Ed,...,NaN,NaN,Books,high poverty,Grades 6-8,350.69,50.0,f,2012-05-30,8/5/12
27,0013a402fb4cf84e3d60d7a59566dff8,511ec2a1372cd7b9e1af86b1b3de8bff,dbde53d7dbafbbb22ca60f36bb0019a5,6.227101e+10,34.227558,-118.499130,North Hills,CA,urban,Los Angeles Unif Sch Dist,...,NaN,NaN,Technology,highest poverty,Grades 3-5,836.34,29.0,f,2012-01-21,3/1/12
28,001468d419e1ee737f364013334d0c84,ca8d614f79013690baf1a8860be4b754,4157e4e610804d738f2d1a450d36dd3f,1.200180e+11,26.240857,-80.165433,Pompano Beach,FL,urban,Broward Co Public Schools,...,Special Needs,Special Needs,Supplies,highest poverty,Grades 3-5,281.95,60.0,f,2012-08-07,9/19/12
30,0014d10f538cd1a7d97053f4d653f1f6,f6b048bad494f33ed7b3fc538789722b,f239121ba1fe63b29b749af5dac160b6,6.227100e+10,34.240639,-118.446426,Panorama City,CA,urban,Los Angeles Unif Sch Dist,...,Literacy,Literacy & Language,Other,high poverty,Grades PreK-2,534.41,24.0,t,2012-01-07,1/24/12
32,00161a60318f303f71bce3e292aa547d,bca6ec517d8ead3edcc2c55321517d06,529f75765b995dca911e3daf0f28971a,1.201500e+11,26.723497,-80.059434,West Palm Bch,FL,urban,Palm Beach Co School District,...,Early Development,Applied Learning,Supplies,highest poverty,Grades PreK-2,266.26,18.0,t,2012-05-26,6/8/12
33,001706ada83ac3f90369cdd3915d2dcf,5f4c7a2eb2656e33d3b6eca968b2e88d,c7ed5048c8d290dc10eb607b5ff3a234,9.004500e+10,41.205996,-73.213388,Bridgeport,CT,urban,Bridgeport City Sch District,...,Literacy,Literacy & Language,Other,highest poverty,Grades PreK-2,300.99,24.0,f,2012-03-15,3/29/12
34,00176778e93d54ed26f601f7a0af4b35,ed42221561b7b74d34dce3fe6a1aea84,eb885383099e30fbd288aa89d1f7abcd,3.904380e+11,39.735485,-84.279785,Dayton,OH,urban,Dayton Public School District,...,NaN,NaN,Books,highest poverty,Grades 6-8,418.55,160.0,f,2012-05-24,6/3/12
37,00199bf192b852aa21573c69ed14565e,b6ac98079d8abaefa5353d15d708da9a,8292243f3bf78ff903697cf2ac0fea1a,3.600080e+11,40.765168,-73.992554,New York,NY,urban,New York City Dept Of Ed,...,NaN,NaN,Books,highest poverty,Grades 9-12,623.73,65.0,f,2012-02-11,3/28/12
42,001d5055cf26a15651c3def86c6d6372,84c3f17b95688643d4f50a1f4d433ab7,3c74bf87a86cc04cfe9cdd82c5f5e485,3.600090e+11,40.885387,-73.878052,Bronx,NY,urban,New York City Dept Of Ed,...,Performing Arts,Music & The Arts,Technology,highest poverty,Grades 6-8,504.19,280.0,f,2012-01-24,2/1/12
45,001ef450c2dd65ca03b1d16cb3a88154,789dce6ea0c219d6fdbd6dd972e97956,32ca6d5626cfa5ffac49ae8e2eb78b35,5.401620e+11,39.232084,-81.533935,Parkersburg,WV,urban,Wood Co School District,...,Environmental Science,Math & Science,Other,highest poverty,Grades 3-5,687.73,250.0,f,2012-11-09,11/15/12
46,001f43adc5c656fa6e39b2f09afa72dd,28ccae6b84276c2d8d41130981d579b8,2e60ec56fc6b5eb963ae24b0a431cfd6,5.307710e+11,47.713413,-122.314400,Seattle,WA,urban,Seattle School District 1,...,Special Needs,Special Needs,Supplies,high poverty,Grades PreK-2,528.38,24.0,f,2012-07-15,7/23/12
47,001f780694807f8c9d7e1748491166f5,159a890d6a756620e3be7798b4a03019,44baa6dbc2f62d765f7313d55f1e9e23,4.702370e+11,36.225002,-86.285944,Lebanon,TN,NaN,Lebanon Special School Dist,...,NaN,NaN,Other,highest poverty,Grades PreK-2,595.34,45.0,f,2012-10-22,11/14/12
48,0021d9d42fb63977604423ebf9c63f8a,4c14556670c6c602a862be381c32ea10,bef4df0b622c13aa6b716ec0886a4f4e,4.841220e+11,29.982979,-95.481216,Houston,TX,suburban,Spring Ind School District,...,NaN,NaN,Technology,highest poverty,Grades 3-5,849.44,38.0,f,2012-11-21,3/16/13
50,00224ec566ee6c3cd12d0969b5b2c784,8ba87429a03ca3730eda069bc2d7883f,a4114506f9491fc0ce6d2d93b1fa963b,4.823640e+11,29.637698,-95.332997,Houston,TX,urban,Houston Ind School District,...,NaN,NaN,Technology,high poverty,Grades 6-8,467.33,60.0,f,2012-10-29,2/24/13
51,00234331fb068ced6c084da0e11cd439,dc7a06eab77831674de2170c141bfd3d,22429fcb84b992caa8b1702270ff96d6,6.180600e+10,33.714350,-118.000241,Huntingtn Bch,CA,suburban,Huntington Beach Union Hs Dist,...,NaN,NaN,Supplies,high poverty,Grades 9-12,354.82,200.0,t,2012-09-02,9/20/12
52,00239094b2720ccbd7a456a3c962f03b,3eefa78da686c025a241eb19c7c5023a,b681ca2b7e6e4772b8cd0aa608e68945,1.803750e+11,39.668243,-86.050568,Indianapolis,IN,urban,Franklin Twp Cmty School Corp,...,NaN,NaN,Supplies,moderate poverty,Grades 3-5,576.08,100.0,f,2012-05-19,8/22/12
53,0023f4e20e9ac0d53d7f1436d5711c5b,fc84d4b8fb44b111c70b5e6352954a5c,3bb38aff317446b5a1fe430f4869082c,6.227100e+10,34.028926,-118.170915,Los Angeles,CA,suburban,Los Angeles Unif Sch Dist,...,Health & Wellness,Health & Sports,Books,highest poverty,Grades PreK-2,602.56,22.0,t,2012-02-01,3/24/12
54,00243492f5f339f1b7a838e983a096f2,8047d9efac8fa7ee21506a54a532acd2,bc03d1c7af31cdc09ac00e13406ef5bc,NaN,38.920322,-77.030617,Washington,DC,urban,[State run],...,Literacy,Literacy & Language,Books,high poverty,Grades 3-5,470.06,25.0,f,2012-07-28,9/17/12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124926,ffe73da73761ef44f33317375c3f0bc3,50623db55d56d04c4e883751608d6dc2,06e5ee9db5c7ccc477bc487c803556d8,2.011490e+11,39.114796,-95.615753,Topeka,KS,suburban,Seaman Unified Sch Dist 345,...,NaN,NaN,Technology,moderate poverty,Grades 3-5,438.40,305.0,f,2012-02-19,6/18/12
124927,ffe73e3028afc456ae03be5bce3ec6c0,ca441820f91dd6c53dee4eb0277eeb6f,a9e47f6b401e5dbcb1df53b01b61a08d,3.600090e+11,40.854983,-73.903357,Bronx,NY,urban,New York City Dept Of Ed,...,NaN,NaN,Technology,highest poverty,Grades PreK-2,228.53,22.0,f,2012-01-16,5/3/12
124928,ffe8a1c2fa5b0c0a78ba4acfd7ca85b6,78708de1c715b14c442f32d2a50a4f5c,e76f1b86793ea4c7c1da85c53d89691d,6.227100e+10,34.012474,-118.246624,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,Mathematics,Math & Science,Technology,high poverty,Grades PreK-2,901.42,20.0,t,2012-02-02,2/17/12
124929,ffe8c4eb1e4b38e79a695c5175b5bb3a,40cbadbf6dcfa82324693d6f91e6a924,c1f06f6c1b631061526b620e767860c7,1.931680e+11,41.659489,-92.027066,Williamsburg,IA,rural,Williamsburg Cmty Sch District,...,Literature & Writing,Literacy & Language,Supplies,moderate poverty,Grades PreK-2,461.18,24.0,f,2012-06-12,9/5/12
124931,ffea3f7012ad1cb0076ee9646c4f15d0,3ce6ed25c690943a78332a3b17ae4058,ac4609d713b23f392bbeb8a359b4b36e,2.400480e+11,39.039642,-77.077049,Kensington,MD,suburban,Montgomery Co Public Schools,...,NaN,NaN,Supplies,high poverty,Grades 3-5,179.92,45.0,f,2012-02-10,3/15/12
124934,ffeb077684f13aecde54fd478c9af82c,c15b56e8ac5d89719fb1c8d81230d57e,64bef34cc05b8c21ab97f06147c025f6,2.929280e+11,38.622822,-90.227539,Saint Louis,MO,urban,St Louis City Public Sch Dist,...,NaN,NaN,Supplies,highest poverty,Grades 6-8,161.54,100.0,f,2012-12-10,1/20/13
124937,ffeba8e728d4299450bd4698ad496170,f9c354ffea547fa1b1d5e8f031f33d30,336a9810a3bef4f1db9e225ecaaca9e2,6.258300e+10,37.103503,-121.648661,Morgan Hill,CA,suburban,Morgan Hill Unified Sch Dist,...,Health & Life Science,Math & Science,Technology,moderate poverty,Grades 3-5,211.49,32.0,f,2012-02-28,5/5/12
124939,ffec2beee11b61a843fed8d72a4322c7,b7fae808a31aa857018baa24caee4c4e,a1473d6da5916cbba061b8a92986cefb,4.218990e+11,40.088598,-75.028700,Philadelphia,PA,urban,Philadelphia City School Dist,...,Literature & Writing,Literacy & Language,Technology,high poverty,Grades 3-5,154.93,28.0,f,2012-12-13,1/24/13
124940,ffece27ed3676b5b515a46572dbb34ca,214acf23d183dfa2f1dc16e7b3658320,f6e869e67c264b4c43d396f1a0b0066f,4.218990e+11,39.981966,-75.146180,Philadelphia,PA,urban,Philadelphia City School Dist,...,Character Education,Applied Learning,Books,highest poverty,Grades PreK-2,452.27,24.0,f,2012-11-03,11/12/12
124941,ffed9fbae0764e02156f8c35cd34d439,94ad9015b0d6c7d2a36fb210a64d2139,ae04d9d67607ff0b0eedc14ebb737dc8,NaN,44.974594,-93.168022,Saint Paul,MN,urban,St Paul Independent SD 625,...,Other,Applied Learning,Other,highest poverty,Grades PreK-2,428.87,50.0,f,2012-12-10,12/23/12
124946,fff008ba1051b272f9e5218b1c125169,4999b5d89891ff2279c63e8f529f00ea,8803e5495d05529e09083007ac95f58b,4.808090e+11,29.434906,-95.254405,Alvin,TX,suburban,Alvin Ind School District,...,NaN,NaN,Books,highest poverty,Grades PreK-2,957.15,40.0,f,2012-12-09,12/22/12
124948,fff0ce1935052d50a4485bd480db03a6,1533c37c1d202411324cdd2274777580,5af7cc9cc60ec8d4e62c4516f1abf0d5,6.334800e+10,35.349696,-119.162331,Bakersfield,CA,rural,Rosedale Union School District,...,Visual Arts,Music & The Arts,Books,moderate poverty,Grades 3-5,1005.74,65.0,f,2012-10-27,12/10/12
124949,fff17ba5f8954c060395735b111edb96,490d0b530daeed042a70a2acc2be1dc7,06c41c32c946457e8545b81dca1ce5c8,3.701920e+11,36.047957,-79.989043,High Point,NC,urban,Guilford Co School District,...,NaN,NaN,Supplies,moderate poverty,Grades 6-8,223.61,14.0,f,2012-10-15,12/21/12
124950,fff1cbf1b7b26568ba57bb92992048b9,77c16c5f82bc583d9b13a3404f2daa37,8b819d840292b4c406ef7145b67b522d,3.600120e+11,40.681308,-73.856928,Ozone Park,NY,urban,New York City Dept Of Ed,...,Special Needs,Special Needs,Technology,highest poverty,Grades 3-5,786.40,24.0,f,2012-09-25,12/27/12
124954,fff2f8b3170013ecf9ee7304c7b0d6d7,d728647826402b266ae8dc0d40914ebd,f3315fbcad5794f7ae6c4f848e488c8c,NaN,40.059349,-82.968307,Columbus,OH,urban,Ohio Department of Education,...,NaN,NaN,Supplies,high poverty,Grades PreK-2,178.41,20.0,f,2012-10-14,11/20/12
124955,fff309b22dacd7a37db9cb9ccee1e031,15969f9fd415e45316f5df1e4f6f7114,b25832137d33953fdfbd74616cf1dc94,3.702970e+11,35.107920,-80.886379,Pineville,NC,NaN,Charlotte-mecklenburg Sch Dist,...,NaN,NaN,Supplies,highest poverty,Grades PreK-2,292.01,19.0,f,2012-09-05,10/12/12
124956,fff3183fb122c03321ce10b81fda2f55,afdfef895e4033893531858b3b7b93e4,413160e89bb3924066db49f015d12e6a,1.812810e+11,39.770969,-86.276016,Indianapolis,IN,urban,Msd Of Wayne Twp,...,NaN,NaN,Supplies,highest poverty,Grades 3-5,289.45,700.0,t,2012-10-14,11/20/12
124957,fff427a481a6ae0da7c79ee3a568a25d,2f4d0c10a6c3b90c1cdf700c1d1e8783,c7ee71e78a89b4537735625abe3df9e2,6.227101e+10,34.039135,-118.211122,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,NaN,NaN,Books,highest poverty,Grades 9-12,859.99,60.0,t,2012-01-28,3/5/12
124958,fff43d73c89c9c0fa3455f71f36846af,c3892f47501ebe7560bb47f044cb6c1a,ab38fb6eeb133c593bca3bd17060dfff,6.227101e+10,34.029933,-118.435195,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,NaN,NaN,Technology,highest poverty,Grades 9-12,560.99,120.0,t,2012-10-02,10/25/12
124959,fff4a452b872e91d3953849c26d66762,157dec98e29ea71d21c757c3b5d7807f,67a1d71fa445acf637993c210f67a464,1.303870e+11,32.487823,-84.979007,Columbus,GA,urban,Muscogee Co School District,...,Literacy,Literacy & Language,Other,highest poverty,Grades 9-12,518.05,63.0,t,2012-05-30,6/22/12
124960,fff50452c8b57fabd715d5547997d659,a3b0edce360c46d821f3f949c37e0760,47266028aed99d00ce97ee299c89f0bb,6.227101e+10,34.200943,-118.530552,Reseda,CA,urban,Los Angeles Unif Sch Dist,...,NaN,NaN,Technology,highest poverty,Grades 9-12,757.47,40.0,t,2012-08-28,9/5/12
124961,fff5d11155a3d8e8c56a41fb2e79912c,442cff1ac9ba42e5dfcbbe3d924f4c07,f2e2d501f9ee2a961d1485e02019d148,5.509600e+11,43.125865,-87.955918,Milwaukee,WI,urban,Milwaukee Public Schools,...,NaN,NaN,Supplies,highest poverty,Grades PreK-2,191.18,18.0,t,2012-08-12,9/6/12
124962,fff5fd6f1a382a7a9ceff838f35212e1,987a7ad70c7f28fb06e969a3a3bfbb08,fa17c1ab6a40fcabbf1514163ae1c910,6.280501e+10,37.742393,-122.168290,Oakland,CA,urban,Oakland Unified School Dist,...,Literacy,Literacy & Language,Books,highest poverty,Grades PreK-2,208.46,22.0,t,2012-04-03,4/13/12
124963,fff8e52c5aac56e34c4d4eb5aa443c5d,9ed92b421feff227841dbe235da3a09c,77c73843c1a82cead04006069163dded,5.005310e+11,44.545620,-71.984150,Lyndonville,VT,rural,Caledonia North Su 8,...,Literature & Writing,Literacy & Language,Books,high poverty,Grades 3-5,386.46,27.0,f,2012-12-12,1/1/13
124966,fffb88aa251449f1ba0b31d5552426b0,68a125f470e30903664d0e70e406d2b7,12629360afe5266b7e171f3cf57af5ec,6.344101e+10,37.725403,-122.430496,San Francisco,CA,urban,San Francisco Unified Sch Dist,...,NaN,NaN,Supplies,highest poverty,Grades 3-5,1018.24,510.0,f,2012-02-17,4/12/12
124968,fffc3632fd681fde1113eae31ca027d4,f52c695357488ae6e499cae04eb28802,3bca24ea3f5077ad0d0b86d979b3a6cf,4.807710e+11,29.909552,-95.360931,Houston,TX,suburban,Aldine Ind School District,...,NaN,NaN,Books,highest poverty,Grades PreK-2,331.56,24.0,f,2012-10-31,1/5/13
124971,fffcfa4388e8ac482c44734bffa891c8,18b4c1437decf26b5f2c92b071962f82,212357c91e4f9db903e37691b80f1e46,3.600150e+11,40.615929,-73.912835,Brooklyn,NY,urban,New York City Dept Of Ed,...,Character Education,Applied Learning,Supplies,high poverty,Grades 3-5,990.99,32.0,t,2012-06-24,7/30/12
124973,fffe0bb8af3b9cd93046b49653cc923a,820b80005bdffb74fe85e4deb11c5a07,bb477994115ad6275e95623e927c040e,3.416290e+11,40.231834,-74.777481,Trenton,NJ,urban,Trenton School District,...,NaN,NaN,Books,highest poverty,Grades 3-5,184.05,20.0,f,2012-09-02,10/17/12
124974,fffe45b28ea6f2889de1e3f797fb31a3,defe5366f82c80715343e58cf95bd2ac,10a9c48f27d12ef702f27547db13a19b,8.069000e+10,39.875904,-105.031563,Westminster,CO,suburban,Adams 12 Five Star Schools,...,Performing Arts,Music & The Arts,Other,highest poverty,Grades 3-5,345.84,500.0,f,2012-01-14,1/29/12
124975,fffeebf4827d745aa36b17c2d38d1966,96c1a33b4f2b832595c3c6a01bc24c05,7bb6b1924a7bd181ab5568b062260966,6.346201e+10,38.654224,-121.308122,Fair Oaks,CA,suburban,San Juan Unified School Dist,...,NaN,NaN,Other,highest poverty,Grades 6-8,938.00,11.0,f,2012-12-01,1/17/13

In [108]:
b

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_metro,school_district,...,secondary_focus_subject,secondary_focus_area,resource_type,poverty_level,grade_level,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,date_posted,datefullyfunded
0,00001ccc0e81598c4bd86bacb94d7acb,96963218e74e10c3764a5cfb153e6fea,9f3f9f2c2da7edda5648ccd10554ed8c,1.709930e+11,41.807654,-87.673257,Chicago,IL,urban,Pershing Elem Network,...,Visual Arts,Music & The Arts,Supplies,highest poverty,Grades PreK-2,1498.61,31.0,f,2013-04-14,5/2/13
4,0004536db996ba697ca72c9e058bfe69,400f8b82bb0143f6a40b217a517fe311,fbdefab6fe41e12c55886c610c110753,3.606870e+11,40.793018,-73.205635,Central Islip,NY,suburban,Central Islip Union Free SD,...,Literature & Writing,Literacy & Language,Technology,high poverty,Grades PreK-2,3591.11,150.0,f,2013-01-08,3/25/13
6,0004d2fdbb571237fa53a97e7691440b,926671e209fb977bd5123145c1848ad1,1a994778027ab086dc58ec3b47f74ff0,4.047200e+10,33.059361,-112.037727,Maricopa,AZ,rural,Maricopa Unif Sch District 20,...,NaN,NaN,Supplies,high poverty,Grades 3-5,390.65,37.0,f,2013-03-26,4/17/13
7,0004ee26667e751dd51384eb9f30c72e,abe4dabb7864f4c548d230cf9070e03f,8409f70bcd81bc06e4b9efca68eed8f6,6.280501e+10,37.761958,-122.193209,Oakland,CA,urban,Oakland Unified School Dist,...,NaN,NaN,Books,highest poverty,Grades 9-12,3877.20,30.0,f,2013-02-28,3/10/13
11,000a6dcbb21ec643daf74ed28991d29c,93e0a37fca3cd7c9c32a535673c48af4,7e28905e0126e37d9b747e92c5fcf44d,2.926850e+11,38.535275,-90.464493,Fenton,MO,suburban,Rockwood School District R6,...,NaN,NaN,Other,moderate poverty,Grades 3-5,714.22,25.0,f,2013-06-22,10/17/13
12,000a981e6bd61c489bbebc237f7b6a0d,a886a532c21f83b0c30571208636dc0e,c995de8108ac314637e1c869f81af766,1.709930e+11,41.922711,-87.692965,Chicago,IL,urban,Fullerton Elem Network,...,NaN,NaN,Supplies,highest poverty,Grades PreK-2,523.27,700.0,f,2013-01-22,2/28/13
14,000b574223b4f491c7de7bccae88b51d,5003eacb7e6311d01177c275c633768a,87e515cc802d93213adfb963ef8de30e,3.600090e+11,40.813916,-73.900522,Bronx,NY,urban,New York City Dept Of Ed,...,NaN,NaN,Books,highest poverty,Grades PreK-2,677.73,24.0,t,2013-05-28,9/6/13
17,000d3ead6b648ba31043bb6376e6342d,3dd9af5310c77541f5b65cf190cec338,8018b1c81de3aede5363afabcf32b17c,4.088000e+10,32.228378,-110.963287,Tucson,AZ,urban,Tucson Unified School Dist,...,NaN,NaN,Other,high poverty,Grades PreK-2,265.13,53.0,f,2013-01-15,3/11/13
35,0018ea3a6cb6c8bbd58753bdb7cb00b2,de7803620efa756469e0d1d74606535b,76cb1fc7cb6aa9059903bf411ddc27b2,4.026900e+10,33.587409,-112.338631,El Mirage,AZ,rural,Dysart Unified School Dist 89,...,Early Development,Applied Learning,Supplies,highest poverty,Grades PreK-2,198.86,21.0,f,2013-03-09,5/21/13
55,002463e8ba969ea758cc7eadd5f960e5,02bae5b07a7a8d30aa95be9adc84d90c,2a05da4237279cb8f7bcc860f25e9fc9,1.201560e+11,27.891302,-82.779111,Largo,FL,suburban,Pinellas Co School District,...,Parent Involvement,Applied Learning,Books,high poverty,Grades PreK-2,612.76,35.0,f,2013-04-28,8/13/13
56,0024d5a2652ebf199fc0cfaf7898cfaf,ccd576f82a5578bef3bf276ea819d214,d0f9173ad132f22e60aadbe92b43260f,1.802160e+11,40.251834,-86.590537,Frankfort,IN,rural,Clinton Prairie Sch Corp,...,NaN,NaN,Supplies,moderate poverty,Grades 9-12,446.53,24.0,f,2013-04-14,5/5/13
57,0024decf6a1c35c3ebf923f06ac4b580,464b9e5814a42b0d670a3ed05fca0cc0,8542596881b68ac6ad3e09da721a3114,9.029100e+10,41.412549,-73.272388,Sandy Hook,CT,NaN,Newtown Public Schools,...,NaN,NaN,Other,low poverty,Grades 9-12,1965.62,999.0,f,2013-05-25,7/8/13
62,0025dcd9473e448c7c52dc76dfd763da,f552e963391a51e6978e6f27630efed6,c8ae7da1477687cc290ce2002dd210b7,1.600300e+11,43.527905,-114.318382,Hailey,ID,NaN,Blaine Co School District 61,...,NaN,NaN,Technology,high poverty,Grades 6-8,427.51,500.0,f,2013-02-11,4/1/13
66,0027d01884077d234bb3ccc00768518e,7ec7a7efa8b0eb26efa20747a57e52a7,11f47830977df46ce2b4b394f1143f52,2.400510e+11,38.795158,-76.928462,Temple Hills,MD,suburban,Prince Georges Co School Dist,...,College & Career Prep,Applied Learning,Books,high poverty,Grades 9-12,295.47,86.0,f,2013-02-05,3/7/13
77,00321abc12fc2f20418e4c1b49974526,61ea458cc6f13d3f72984208634f88f6,a9e7688613117f1190a1e4ab6ec3405b,1.201290e+11,27.147154,-80.207443,Stuart,FL,suburban,Martin Co School District,...,Applied Sciences,Math & Science,Supplies,highest poverty,Grades PreK-2,402.99,18.0,t,2013-02-07,3/17/13
80,003351e3c84dd5e978870abc892db808,4ab6b156224a6a03782e355023bb3899,8c2627d25f262b08d238394c7f126a0f,3.600100e+11,40.674608,-73.960348,Brooklyn,NY,urban,New York City Dept Of Ed,...,Early Development,Applied Learning,Supplies,highest poverty,Grades PreK-2,165.41,24.0,f,2013-02-11,3/5/13
81,003391f1641d2d44073fb8d540d5bc36,e4e8e7269703d634b32e1bf92f10309a,8aac44b1459a272bc71f0818e82245a6,3.600090e+11,40.668784,-73.983102,Brooklyn,NY,urban,New York City Dept Of Ed,...,Special Needs,Special Needs,Other,moderate poverty,Grades PreK-2,543.52,23.0,f,2013-01-12,2/5/13
89,003738e779d3195c8bc3286a60551b7a,7d2c3d0f553df63d8def6768479e7d94,5f5c24c4dffca40525ed198df720590b,6.251300e+10,37.623329,-121.012901,Modesto,CA,urban,Modesto City School District,...,Nutrition,Health & Sports,Other,highest poverty,Grades PreK-2,1040.08,122.0,f,2013-02-16,4/25/13
94,00396f0beb2f0447b1640194e8a4eaca,a88a5b9f57c009b319374365808cc949,26e006364791a388a9048ac3ac3c1cb7,3.600170e+11,40.815417,-73.885571,Bronx,NY,urban,New York City Dept Of Ed,...,Performing Arts,Music & The Arts,Other,highest poverty,Grades PreK-2,794.00,25.0,f,2013-04-05,4/19/13
99,003abc152c326311563e00409492872f,e003af936591e236811c7eaa0f866777,91422b44563cf270d6aadd822ecad001,1.200150e+11,28.326200,-80.742526,Rockledge,FL,suburban,Brevard Co School District,...,Mathematics,Math & Science,Technology,moderate poverty,Grades 6-8,646.46,84.0,f,2013-05-14,6/23/13
112,00403bd06a6ec814a542673ae62507ac,96828af3315753c6afde4230048b1616,45c323e7d4ee74fc69add1cdde8e5e64,3.600080e+11,40.795059,-73.973346,New York,NY,urban,New York City Dept Of Ed,...,Character Education,Applied Learning,Supplies,highest poverty,Grades 6-8,340.15,70.0,f,2013-01-19,2/17/13
119,004371c61d1884a6818888e27b0582b6,972d3d15470917d447541d4133ab5f05,02198665969d34156821ae37c554c474,4.703000e+11,35.536879,-84.353906,Madisonville,TN,NaN,Monroe Co School District,...,Community Service,Applied Learning,Trips,highest poverty,Grades 3-5,884.98,75.0,t,2013-01-23,2/14/13
120,0043db815b94b0644a933ddc375d3cc1,53d8c5de37f7c2d640b3bd29a20de5e2,23b21e445b4c63e245192dd78168e9f5,6.292200e+10,34.205628,-119.166505,Oxnard,CA,urban,Oxnard Elem School District,...,NaN,NaN,Technology,highest poverty,Grades PreK-2,614.33,11.0,f,2013-05-11,7/19/13
121,0044bbf5de479dc584a0e7ff3c6ddbc7,62ee1ef3741c2adb9167f1541d1ce0d5,4e65a2439a8e539803acc11cf4656105,3.701260e+11,35.923095,-78.961092,Durham,NC,urban,Durham Public School District,...,Literacy,Literacy & Language,Books,high poverty,Grades 9-12,387.31,75.0,f,2013-01-08,3/2/13
131,004bbbf5a95b97e573afa56b4b3ad7c2,f832b46112e7f920ec7dd81647610904,926b6a0dff4d782eb79eab9ebe5c7717,3.200060e+11,36.016006,-115.137825,Las Vegas,NV,urban,Clark Co School District,...,Performing Arts,Music & The Arts,Supplies,high poverty,Grades 3-5,676.92,125.0,t,2013-05-26,9/8/13
151,005958e234e04a60f985a3396ba07c02,80156e1ee2314041a76753fe244c163b,0b45e7cdefbe4a8f7195c5c705c4b4ad,5.103240e+11,37.490353,-77.475624,Richmond,VA,urban,Richmond City School District,...,Civics & Government,History & Civics,Technology,highest poverty,Grades PreK-2,1112.39,23.0,t,2013-03-03,6/29/13
160,005e149f4a6f044642da3520d391a7b3,69ab473b8c091b70533fdb0bdb76e8eb,eb95ac530a49a39b5cfd1600e90a9682,2.929280e+11,38.601967,-90.253964,Saint Louis,MO,urban,St Louis City Public Sch Dist,...,Environmental Science,Math & Science,Technology,highest poverty,Grades 6-8,256.21,60.0,t,2013-06-19,8/7/13
170,006b246ff659b481f409ccca2d800bf8,ae589864bda718eea06bf9c123ba97c6,b5affc60212688b5dbe3aa827db93d61,1.709930e+11,41.799427,-87.758994,Chicago,IL,urban,Midway Elementary Network,...,Literature & Writing,Literacy & Language,Technology,highest poverty,Grades 6-8,751.75,147.0,f,2013-05-12,9/7/13
172,006b7593371a94d43f8fd1f16b30b65a,dd56838ce14c1b433e2776c4ef8d8280,4300f780e95547a129929d4061e8146a,6.344101e+10,37.750886,-122.499706,San Francisco,CA,urban,San Francisco Unified Sch Dist,...,Special Needs,Special Needs,Supplies,moderate poverty,Grades PreK-2,295.51,16.0,f,2013-03-18,4/26/13
174,006befbbd02dc608e59f70491d5d16a5,82f5703bca1eecbc2a0674ff32f99616,b6dbc43a1b37e4e344a07dcb7b56f083,6.227100e+10,33.821793,-118.272178,Carson,CA,urban,Los Angeles Unif Sch Dist,...,Literacy,Literacy & Language,Technology,highest poverty,Grades 3-5,443.46,30.0,t,2013-05-14,8/1/13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124795,ffa5bd1e3a9c5face9bed0ff1bf9693e,f1d3a8e6a521c26e2932309d51f42e6f,e136d83d916458484792d1834923270c,1.722870e+11,41.617366,-88.799422,Leland,IL,rural,Leland Cmty Unit Sch Dist 1,...,NaN,NaN,Technology,moderate poverty,Grades 3-5,812.47,6.0,f,2013-06-20,9/9/13
124810,ffad7b21c7618ad996aaa2f2e64a2ffa,f42a885f3104d5e62582ecf086b0cffe,7549215efce221a0626f73beb925d040,1.709930e+11,41.784354,-87.688478,Chicago,IL,urban,Midway Elementary Network,...,NaN,NaN,Books,highest poverty,Grades PreK-2,383.72,25.0,f,2013-06-18,7/23/13
124812,ffae8b6825bb67ccf6f9abafc3806c69,9300108df5b575508759a622ec919e48,dc7ea034b70c5e77182a207cd05861fd,4.205010e+11,40.206780,-77.203386,Carlisle,PA,NaN,Carlisle Area School District,...,Literature & Writing,Literacy & Language,Books,high poverty,Grades 3-5,220.36,21.0,f,2013-04-08,4/14/13
124816,ffb16661a2f9d4718f835221d72ad6d9,1c2c1aab2905e8f4df194c945d3c1413,d5f7a16a582116070c2379057f79f844,6.000281e+10,33.456687,-117.088913,Temecula,CA,urban,Temecula Valley Unif Sch Dist,...,Health & Wellness,Health & Sports,Technology,moderate poverty,Grades 9-12,834.25,220.0,f,2013-06-07,10/5/13
124824,ffb2d53ed94e50c8e54081e95e09ab0e,6eb42a85b0bf7894abf1f8d4eaae9538,0f297dd9f3de463a7e613035c71b4622,4.834320e+11,29.652846,-95.207974,South Houston,TX,suburban,Pasadena Ind School District,...,Health & Life Science,Math & Science,Supplies,high poverty,Grades 9-12,398.86,28.0,f,2013-03-11,6/25/13
124825,ffb375b231c18c7385d179213240157a,c64ef328aa590bd0ad1ee02ddc20ef77,9de31a1be8eb9d2c8c1cb9eb586422fa,3.600120e+11,40.735288,-73.824871,Flushing,NY,urban,New York City Dept Of Ed,...,Special Needs,Special Needs,Other,highest poverty,Grades 3-5,163.55,6.0,f,2013-02-17,3/9/13
124829,ffb6200062d2a05fb690f5d4ef50cf24,e106407f6b21b554009aba993ebcf5b3,07b5d0a4b0681a260b33cc18d31715cf,3.600120e+11,40.668610,-73.912206,Brooklyn,NY,urban,New York City Dept Of Ed,...,NaN,NaN,Supplies,high poverty,Grades PreK-2,512.64,18.0,f,2013-01-26,4/25/13
124832,ffb8ac5092ccddca09cc5763c583af67,2fcd687cddb6863b5304a06d3737e2b7,f919a41b98d86edac61254854dabc723,5.401500e+11,38.093391,-82.305847,East Lynn,WV,rural,Wayne Co School District,...,NaN,NaN,Books,highest poverty,Grades PreK-2,468.66,13.0,f,2013-02-03,5/3/13
124833,ffb8f8c2e2d3cfc47e9eca8b5e96477c,7ea2b6589b5d0bbc58de62b9b5b3c6fd,ce21fe8558044effb9b44dcc943a6c8d,1.709930e+11,41.759276,-87.649284,Chicago,IL,urban,Englewood-gresham Elem Network,...,Environmental Science,Math & Science,Supplies,highest poverty,Grades 6-8,339.52,120.0,f,2013-03-04,4/11/13
124836,ffb94fc9f852c38226cf2598d0d43cb6,84f8c8b57cdae34245a1a2f104844c5d,162048c0006bfdaced54953154883691,3.411340e+11,40.753155,-74.192146,Newark,NJ,urban,Newark Public School District,...,Literacy,Literacy & Language,Supplies,highest poverty,Grades PreK-2,452.59,21.0,f,2013-01-26,2/12/13
124837,ffba3ec2d40f4f86bc8dec4b0a47c513,52c00aa27373df5577de5809da47747c,2ae5f7ecc9ff8d9335c591086ab50667,4.823640e+11,29.851473,-95.386932,Houston,TX,urban,Houston Ind School District,...,ESL,Literacy & Language,Books,high poverty,Grades 3-5,969.06,24.0,f,2013-04-14,8/12/13
124841,ffbbbb9133a97afe885c0095d67afada,9f461eaba68466efebcf6aec6a2e87a9,15a5d4447ec48bed5de3978f7bc2e4ae,3.200060e+11,36.020367,-114.942314,Henderson,NV,suburban,Clark Co School District,...,NaN,NaN,Books,moderate poverty,Grades PreK-2,573.32,150.0,f,2013-05-28,8/13/13
124843,ffbf33e38f0aceff27420f928288752f,c18b6a2f85270a3d4ba3509089493078,c291a3035304dfca7c3da45d5f3514ba,1.709930e+11,41.746590,-87.731699,Chicago,IL,urban,Midway Elementary Network,...,Literacy,Literacy & Language,Technology,highest poverty,Grades 6-8,283.04,10.0,f,2013-02-28,4/1/13
124848,ffbfc19de701e452ea4a8f299f953728,435ee48173553d489bcbb07cf5744fe2,c5005612815ffc8bc78a1b3a46851aaf,6.227100e+10,34.096989,-118.280853,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,Health & Life Science,Math & Science,Supplies,high poverty,Grades 6-8,359.94,140.0,t,2013-02-03,2/9/13
124851,ffc27281c484dbacdadbe274f29f17c0,6d92e60fc88a57821ae304955cb8e818,a7fc50541558861b0a79b1fbdda87b43,6.353101e+10,33.752502,-117.869698,Santa Ana,CA,urban,Santa Ana Unified Sch District,...,Music,Music & The Arts,Supplies,highest poverty,Grades 6-8,425.81,90.0,f,2013-05-26,7/10/13
124853,ffc687de16cb5fa3f5f29e178cb80025,fc5260c3fccac32451107e1ba58d8cad,c004b463a8e46a8de01995084afe743a,2.627060e+11,42.453855,-85.709523,Otsego,MI,rural,Otsego Public School District,...,Mathematics,Math & Science,Books,high poverty,Grades 3-5,585.45,75.0,t,2013-03-13,4/26/13
124855,ffc88c51ef2f6528d07ef6678acc384c,9b9b3f24b3262d183e50690a03c15246,f08720a32dc2921adfcf686941a31e50,3.600150e+11,40.607165,-73.986820,Brooklyn,NY,urban,New York City Dept Of Ed,...,NaN,NaN,Supplies,high poverty,Grades PreK-2,463.16,12.0,t,2013-05-28,8/29/13
124872,ffd02c4d2573457aed6967e60eac5efd,4184c3919f7f4126c21c846856b6582c,49a37278ca33da4a2f8f4aa681629c00,5.103460e+11,37.276172,-80.028636,Salem,VA,suburban,Salem City School District,...,NaN,NaN,Books,high poverty,Grades PreK-2,171.87,18.0,f,2013-04-21,6/3/13
124884,ffd83f30ee7bfab03b34c25399f1fc1e,c9db685a8191877bf8c14dac65100044,faf8caddf44db3e14be43707a206d602,5.300960e+11,47.517044,-120.470896,Cashmere,WA,NaN,Cashmere School Dist 222,...,Literature & Writing,Literacy & Language,Technology,high poverty,Grades PreK-2,1020.71,20.0,f,2013-03-26,6/10/13
124886,ffd8ed640f67316a282d4d95b9611d61,40ca701bcdf62efb8b6d4ec00dbd3eec,dd1069365a9a3f6d0e609110c4292d18,NaN,39.058728,-94.570937,Kansas City,MO,urban,Missouri Dept of Education,...,NaN,NaN,Supplies,highest poverty,Grades 9-12,913.49,150.0,f,2013-04-08,7/4/13
124893,ffdc943251c66a0d1f2b3df8577c53ee,c539bde8889ea3ab961ea530facf1049,d9cc87d40331bb607c4a0be29468dda1,3.905050e+11,39.536732,-81.642963,Waterford,OH,rural,Wolf Creek Local School Dist,...,Music,Music & The Arts,Supplies,moderate poverty,Grades 6-8,859.22,70.0,f,2013-01-17,2/15/13
124899,ffde6f958e933b20bcd855f94c367ebf,b5f4e60238b774ccf53c81631f01a9b2,8803e5495d05529e09083007ac95f58b,4.808090e+11,29.434906,-95.254405,Alvin,TX,suburban,Alvin Ind School District,...,ESL,Literacy & Language,Supplies,highest poverty,Grades PreK-2,1224.20,40.0,f,2013-02-17,4/27/13
124919,ffe4b9e23c476521ba63568dc41afc3f,11b55aaee5ef6f15fb078044ace318a9,e3156e8746dcf227fb9aea2686f52419,1.709930e+11,41.862602,-87.659437,Chicago,IL,urban,Chicago Psd-Area 52/53,...,NaN,NaN,Technology,highest poverty,Grades 9-12,515.78,150.0,t,2013-02-24,3/20/13
124921,ffe5521afd0bc45ad5c560d6e6d300ab,bb49c0014abf5208dc6e01ba344b1c91,2fd65662f6d63c1db87c3073cbc4abf7,4.808940e+11,30.195080,-97.787300,Austin,TX,urban,Austin Ind School District,...,NaN,NaN,Books,highest poverty,Grades 6-8,159.62,75.0,f,2013-01-14,2/5/13
124932,ffea6e56af02a975c6ed0088bffe737e,e9962d868d2a9c0c09e00099edbf0a0e,bcf44ac9d80a92263095ecaabc58e978,1.804770e+11,39.775349,-86.121971,Indianapolis,IN,urban,Indianapolis Public Sch Dist,...,NaN,NaN,Technology,highest poverty,Grades PreK-2,1004.68,8.0,t,2013-02-16,3/5/13
124933,ffea7bf500ad483703aedee165e61072,c5cdd43017f7066a1a6f6f36f45cca53,037060bf6681fe0941df818b3ae6c513,4.101120e+11,44.633715,-123.069352,Albany,OR,NaN,Greater Albany Pub Sch Dist 8j,...,Literature & Writing,Literacy & Language,Technology,highest poverty,Grades 3-5,248.44,120.0,f,2013-01-27,2/24/13
124943,ffef02fa17f4564a89a6c03c3b022177,301b954273bead0bd758a84365541cc1,17b3fb40a1e98b79f3475c02d3f2e5e7,2.102990e+11,38.154256,-85.811888,Louisville,KY,urban,Jefferson Co School District,...,Literacy,Literacy & Language,Technology,highest poverty,Grades 9-12,1067.69,50.0,t,2013-05-26,8/17/13
124952,fff24308118daa069f765ad2662234a6,855f5bbf58e3fcf59583777027329c6a,3579c9e1a2da2f06c6dd81877cda7054,2.731800e+11,44.036049,-92.484854,Rochester,MN,urban,Rochester School District 535,...,Literature & Writing,Literacy & Language,Supplies,moderate poverty,Grades 9-12,490.66,25.0,f,2013-06-09,10/1/13
124964,fff8ea691f0be0e4ed486690eb56c14f,c530d7baec513b17570c7ea40df638e9,2dc015358468c294b523cf18aeac6669,2.926160e+11,36.729577,-93.385154,Reeds Spring,MO,rural,Reeds Spring School Dist R4,...,Early Development,Applied Learning,Supplies,high poverty,Grades PreK-2,409.87,7.0,f,2013-04-28,6/14/13
124970,fffcab52aff6aec5843afafe919d4a06,64ec2ab31709511cce9d4b344eed4ef0,ce225b42cd7d04da6fc8d47815dce5fc,5.100270e+11,38.838849,-77.097328,Arlington,VA,urban,Arlington Public Schools,...,NaN,NaN,Books,high poverty,Grades PreK-2,717.96,24.0,f,2013-02-10,6/10/13

In [91]:
a.dtypes

projectid                                         object
teacher_acctid                                    object
schoolid                                          object
school_ncesid                                    float64
school_latitude                                  float64
school_longitude                                 float64
school_city                                       object
school_state                                      object
school_metro                                      object
school_district                                   object
school_county                                     object
school_charter                                    object
school_magnet                                     object
teacher_prefix                                    object
primary_focus_subject                             object
primary_focus_area                                object
secondary_focus_subject                           object
secondary_focus_area                              object
resource_type                                     object
poverty_level                                     object
grade_level                                       object
total_price_including_optional_support           float64
students_reached                                 float64
eligible_double_your_impact_match                 object
date_posted                               datetime64[ns]
datefullyfunded                                   object
dtype: object

TypeError: 'numpy.dtype' object is not callable